<!doctype html>
<html ng-app="hub.freelook.info">

<head>
  <title>Information Digest | HUB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/angular-material.min.css">
  <style>
    body {
      padding: 0;
    }
    
    #hub-form {
      margin: 10px;
    }
  </style>
</head>

<body ng-controller="HubController as ctrl" ng-cloak>

  <form id="hub-form" ng-submit="ctrl.submit()">
    Enter url and hit enter:
    <input type="url" ng-model="ctrl.url" name="url" />
    <input type="submit" value="Submit" />
  </form>
  <pre ng-bind="ctrl.data | json"></pre>

  <div ng-if="ctrl.data">
    <h1 ng-if="ctrl.data.title" ng-bind="ctrl.data.title"></h1>
    <img ng-if="ctrl.data.img" ng-src="{{ctrl.data.img}}">
  </div>

  <script src="/js/angular.min.js"></script>
  <script src="/js/angular-animate.min.js"></script>
  <script src="/js/angular-aria.min.js"></script>
  <script src="/js/angular-material.min.js"></script>
  <script>
    /*global angular*/
    angular.module('hub.freelook.info', ['ngMaterial'])
      .controller('HubController', function($http, $location, $log) {
        var ctrl = this;

        ctrl.data = null;
        ctrl.url = ($location.search() || {}).url;

        ctrl.submit = function() {
          if (ctrl.url) {
            $log.log('Request:', ctrl.url);
            $http
              .post('/scrape', {
                url: ctrl.url
              })
              .then(function(res) {
                ctrl.data = res.data;
                $location.search({
                  url: ctrl.url
                });
              });
          }
        };

        if (ctrl.url) {
          ctrl.submit();
        }

      });
  </script>
</body>

</html>
